<template>
  <v-container>
    <v-row style="margin-bottom: 30px;">
      <h1>Numbers Game:</h1>
    </v-row>
    <v-row>
      <v-card outlined>
        <v-form ref="numbersForm" v-model="formValid">
          <v-row v-if="!guessed">
            <v-col cols="2">
              <v-subheader>
                <h2>Name:</h2>
              </v-subheader>
            </v-col>
            <v-col cols="8">
              <v-text-field v-model="userName" :rules="formRules.name" outlined required></v-text-field>
            </v-col>
          </v-row>
          <v-row v-else>
            <v-col>
              <v-subheader>
                <h2> Dear {{ userName }}, your 5th number in the sequence is: </h2>
              </v-subheader>
            </v-col>
          </v-row>
          <v-row>
            <v-col>
              <v-subheader>
                <h2>Numbers:</h2>
              </v-subheader>
            </v-col>
            <v-col>
              <v-text-field label="First Number" :disabled="guessed" type="number" v-model="initialNumbers[0]"
                            :rules="formRules.numbers" outlined required></v-text-field>
            </v-col>
            <v-col>
              <v-text-field label="Second Number" :disabled="guessed" v-model="initialNumbers[1]"
                            :rules="formRules.numbers" outlined required></v-text-field>
            </v-col>
            <v-col>
              <v-text-field label="Third Number" :disabled="guessed" v-model="initialNumbers[2]"
                            :rules="formRules.numbers" outlined required></v-text-field>
            </v-col>
            <v-col>
              <v-text-field label="Fourth Number" :disabled="guessed" v-model="initialNumbers[3]"
                            :rules="formRules.numbers" outlined required></v-text-field>
            </v-col>
            <v-col>
              <v-text-field background-color="green lighten-3" v-if="guessed" v-model="guessedNumber"
                            label="Guessed Number" disabled outlined></v-text-field>
            </v-col>
          </v-row>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn color="primary" :disabled="buttonDisabled" @click="buttonClick"> {{ buttonText }}</v-btn>
          </v-card-actions>
        </v-form>
      </v-card>
    </v-row>
  </v-container>
</template>

<script>
export default {
  name: 'NumbersGame',

  data: () => ({
    guessed: false,
    guessedNumber: null,
    userName: '',
    formValid: false,
    initialNumbers: [0, 0, 0, 0],

    formRules: {
      name: [
        (value) => !!value || 'Required.',
        (value) => (value && value.length >= 3) || 'Min 3 characters'
      ],
      numbers: [
        (value) => !!value || 'Required.',
      ]
    }
  }),
  methods: {
    buttonClick() {
      (this.guessed)
          ? this.startNewGame()
          : this.guessNumber()
    },
    startNewGame() {
      this.guessed = false
      this.formValid = false
      this.guessedNumber = null
      this.userName = ''
      this.initialNumbers = []
    },
    guessNumber() {
      const data = {
        name: this.userName,
        numbers: JSON.stringify({
          initialNumbers: this.initialNumbers
        })
      }
      this.axios({
        url: 'http://localhost:8080/numbers_guess',
        method: 'POST',
        data,
        headers: { 'Content-Type': 'application/hal+json'}
      }).then((response) => {
        const numbersObject = JSON.parse(response.data.numbers)
        this.guessed = true
        this.guessedNumber = numbersObject.result
        this.initialNumbers = numbersObject.initialNumbers
        this.userName = response.data.name
      }).catch((error) => console.log(error))
    }
  },
  computed: {
    buttonText: {
      get: function () {
        return (this.guessed)
            ? 'play again'
            : 'Guess 5th number'
      }
    },
    buttonDisabled: {
      get: function () {
        return !this.guessed && !this.formValid
      }
    }
  }

}
</script>
<style scoped>
  input:disabled {
    color: black;
  }
</style>