<template>
  <v-app>
    <numbers-game></numbers-game>
  </v-app>
</template>

<script>
import NumbersGame from "@/components/NumbersGame";
export default {
  name: 'App',
  components: {
    NumbersGame
  },
  data: () => ({}),
};
</script>
